[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "_plugins/compose"]
	path = _plugins/compose
	url = git@github.com:jekyll/jekyll-compose.git
[submodule "_plugins/polyglot"]
	path = _plugins/polyglot
	url = git@github.com:untra/polyglot.git
[submodule "_plugins/chirpy"]
	path = _plugins/chirpy
	url = git@github.com:cotes2020/jekyll-theme-chirpy.git
